:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

$main-color: #f8f8f8;
$border-color: #e8e8e8;
$main-text-color: #1e1e1e;
$secondary-text-color: #949bad;
$text-gold: #d2b997;
$text-gold-alt: #d9a763;
$bg-gold: #d9a763;
$text-alt-gray: #c2cadf;
$text-alt-new: #808285;
$text-danger: #dc3545;
@import './fonts.scss';


html,
body {
  display: flex;
  flex: 1;
  min-height: 100%;
  font-family: 'Gilroy';
  background-color: $main-color;
  font-size: 14px;
  line-height: 1.15;
  width: 100%;

  #app {
    display: flex;
    flex: 1;
    width: 100%;

    *,
    *:focus,
    *:hover {
      outline: none !important;
      box-shadow: none !important;
    }


    .cursor-pointer {
      cursor: pointer;
    }

    a {
      color: $main-text-color;

      &.router-link-exact-active, &.router-link-active {
        color: $text-danger;
      }

      &:hover {
        color: $text-danger;
      }
    }


    .text-black {
      color: $main-text-color;
    }

    .text-gold {
      color: $text-gold;
    }

    .text-gold-alt {
      color: $text-gold-alt;
    }

    .text-secondary {
      color: $secondary-text-color !important;
    }


    .fw-normal {
      font-weight: normal !important;
    }

    .fw-bold {
      font-weight: bold !important;
    }

    .toastr {
      position: fixed;
      top: 20px;
      right: 20px;
      background: #fff;
      border-radius: 4px;
      -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
      box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
    }

    .card-component {
      background-color: #fff;
      padding: 20px 30px;
      border-radius: 5px;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);

      .body {
        color: $main-text-color;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: -0.09px;
      }

      &.with-head-body {
        flex: 1;
        flex-grow: 1;
        padding: 50px;

        .header {
          font-size: 15px;
          line-height: 22px;
          color: $main-text-color;

          label {
            font-weight: 600;
          }

          span {
            font-weight: 400;
          }
        }

        hr {
          margin-left: -50px;
          margin-right: -50px;
        }
      }

      .footer {

        button {
          &:not(:last-child) {
            margin-right: 10px;
          }

          min-width: 100px;
        }
      }
    }

    .main-card {
      overflow: hidden;
    }

    .vertical-img-icon-tab {

      ul[role=tablist]:not(.custom) {
        background: #fff;
        padding: 20px;
        -webkit-box-shadow: 6px 0px 20px 0px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 6px 0px 20px 0px rgba(0, 0, 0, 0.25);
        box-shadow: 6px 0px 20px 0px rgba(0, 0, 0, 0.25);

        li {
          &:not(:last-child) {
            margin-bottom: 20px;
          }

          a {
            height: 80px;
            padding: 10px 20px;
            background: #f2f2f2;
            border-color: #e4e4e4;
            opacity: .5;
            margin: 0;

            &.active {
              color: $secondary-text-color;
              background: #f2f2f2;
              border-color: #e4e4e4;
              opacity: 1;
              -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
              -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
              box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
            }
          }
        }
      }

      .upload-container {
        .drop-active {
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          z-index: 2;
          color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          background: rgba(0, 0, 0, .5);
        }

        .img-container {
          position: relative;
          border-radius: 4px;
          overflow: hidden;
          border: 1px solid #efefef;

          img {
            width: 100%;
          }

          .name-container.image {
            display: none;
            padding: 5px;
            background: rgba(0, 0, 0, .7);
            color: #fff;
            justify-content: center;
            align-items: center;
            text-align: center;
            position: absolute;
            bottom: 27px;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            font-size: 12px;
          }

          .name-container:not(.image) {
            display: none;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, .5);
            color: #fff;
            justify-content: center;
            align-items: center;
            text-align: center;
          }

          .custom-control {
            display: block;
            position: absolute;
            left: 10px;
            top: 10px;

            label {
              &:before {
                background: #fff;
              }
            }
          }

          .button-container {
            display: none;
            width: 100%;
            position: absolute;
            bottom: 0;
            z-index: 1;

            button {
              border-radius: 0;
              display: flex;
              flex: 1 1 auto;
              justify-content: center;
              align-items: center;

              svg {
                margin-right: 5px;
              }
            }
          }

          .button-container:not(.image) {
            position: absolute;
            bottom: 0;
            display: none;
            width: 100%;

            button {
              border-radius: 0;
              display: flex;
              flex: 1 1 auto;
              justify-content: center;
              align-items: center;

              svg {
                margin-right: 5px;
              }
            }
          }

          &:hover {
            .name-container {
              display: flex;
            }

            .button-container {
              display: flex;
            }
          }
        }
      }
    }

    .btn-warning {
      background: #cbca76;
      color: #fff;
      border-color: #cbca76;
    }

    table.table.custom {
      tbody {
        tr {
          &.active {
            td {
              background: #efefef;
            }
          }

          &:not(.custom) {
            cursor: pointer;
          }

          &:not(.custom):hover {
            td {
              background-color: #fff;
            }
          }

          &:last-child {
            td {
              border-bottom: 1px solid $border-color;
            }
          }

          td {
            border-top: 1px solid $border-color;
            vertical-align: middle;

            .custom-btn {
              background: #fff;
              border: none;
              border-radius: 4px;
              font-size: 16px;
            }

            span.sub-title {
              color: $secondary-text-color;
              font-weight: normal;
            }

            .circle {
              color: $text-danger;
            }
          }
        }
      }
    }

    .custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
      background-image: url('../img/forms/cb-checked.png');
    }

    .custom-checkbox.danger .custom-control-input ~ .custom-control-label::after {
      background-image: url('../img/forms/cb-danger-checked.png');
    }

    .custom-checkbox.danger .custom-control-input:checked ~ .custom-control-label::after {
      background-image: url('../img/forms/cb-checked.png');
    }

    .custom-checkbox.success .custom-control-input ~ .custom-control-label::after {
      background-image: url('../img/forms/cb-success.png');
    }

    .custom-checkbox.success .custom-control-input:checked ~ .custom-control-label::after {
      background-image: url('../img/forms/cb-success-checked.png');
    }

    .custom-control:not(.custom-switch) {
      .custom-control-label::after {
        width: 16px;
        height: 16px;
        background: inherit;
      }

      .custom-control-label::before {
        width: 16px;
        height: 16px;
        background: inherit;
      }
    }

    .custom-btn {
      color: #394157;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 1px;
      border-radius: 2px;
      border: 2px solid $border-color;
      background: transparent;
      padding: 5px 15px;
    }

    .btn-bordered {
      border: 1px solid #88898b;
    }

    .table-hover {
      tbody {
        tr.no-hover {
          background: none !important;
        }

        tr:hover {
          background: none;
        }

        & > tr:hover {
          color: #212529;
          background-color: rgba(0, 0, 0, 0.075);
        }

        & > div > tr:hover {
          color: #212529;
          background-color: rgba(0, 0, 0, 0.075);
        }
      }
    }

    .d-content {
      display: contents;
    }

    .btn-custom-secondary {
      background: #324a5e;
      color: #fff;
    }

    [role='tablist']:not(.custom) {
      [role='tab'] {
        font-weight: bold;
        margin-right: 10px;
        padding: 0.3rem 1rem;
        color: #808285;
        background: #efefef;

        button {
          color: #949bad;
          text-decoration: none;

          .when-opened {
            display: none;
          }
        }

        &.not-collapsed {
          background: #B5B6B7;

          button {
            .when-opened {
              display: block;
            }

            .when-closed {
              display: none;
            }

            color: #231F20;
          }
        }
      }
    }

    .tab-content {
      position: relative;

      .btn-container {
        position: absolute;
        right: 0;
        top: -3rem;
      }
    }

    .p-absolute {
      position: absolute;
    }

    .l-15 {
      left: 15px;
    }

    .datepicker {
      position: relative;
      display: block;

      .form-control {
        padding-right: 25px;
      }

      &::after {
        position: absolute;
        right: 8px;
        top: 8.5px;
        display: block;
        content: "";
        width: 16px;
        height: 15px;
        background: transparent url('../img/icons/datepicker.png') no-repeat;
      }
    }

    .search {
      position: relative;
      display: block;

      .form-control {
        padding-right: 25px;
      }

      &::after {
        position: absolute;
        right: 8px;
        top: 11.5px;
        display: block;
        content: "";
        width: 16px;
        height: 15px;
        background: transparent url('../img/icons/search.svg') no-repeat;
      }
    }

    .form-group {
      label {
        font-weight: 500;
      }
    }

    .form-control {
      border-radius: 3px;
      border: 1px solid #eeeef5;
      background-color: #ffffff;
      color: $text-alt-new;
      position: relative;

      &.is-invalid {
        border-color: #dc3545;
      }

      &[disabled] {
        background: #f0f1f1;
        color: #333;
      }
    }

    .file-icons {
      .icon {
        background: #f0f1f1;
        display: flex;
        flex: 1 1 auto !important;
        flex-direction: column;
        border-radius: 4px;
        border: 1px solid #d8d9da;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        padding: 10px;

        &.img-active {
          background: #C1E8DC;
          border: 1px solid #C1E8DC;
        }
        &.video-active {
          background: #CCD6F2;
          border: 1px solid #CCD6F2;
        }
        &.document-active {
          background: #F4E9D7;
          border: 1px solid #F4E9D7;
        }

        * {
          display: flex;
        }
      }
    }

    table {
      th {
        vertical-align: middle;
        border-bottom: 1px solid #612529;
        border-top: none;

        &.fit {
          white-space: nowrap;
          width: 1%;
        }
      }

      td {
        vertical-align: middle;
        color: #808285;
        border-bottom: 1px solid #dee2e6;
        border-top: 0;

        &.fit {
          white-space: nowrap;
          width: 1%;
        }
      }
    }

    .vue-dropzone {
      border: 2px dashed #e5e5e5;
      background: #f9f9f9;
      display: flex;
      flex-wrap: wrap;

      &:not(.dz-started) {
        .dz-default {
          display: flex;
          flex: 1;
          justify-content: center;
          align-items: center;
          font-weight: bold;

          img {
            opacity: .5;
          }
        }
      }
    }

    ::-webkit-input-placeholder {
      color: $text-alt-gray;
    }

    :-moz-placeholder {
      color: $text-alt-gray;
      opacity: 1;
    }

    ::-moz-placeholder {
      color: $text-alt-gray;
      opacity: 1;
    }

    :-ms-input-placeholder {
      color: $text-alt-gray;
    }

    ::-ms-input-placeholder {
      color: $text-alt-gray;
    }

    ::placeholder {
      color: $text-alt-gray;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    .filter-area {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      width: 330px;
      display: flex;
      flex-direction: column;
      padding: 40px 0 20px;
      background-color: #fff;
      border-left: 1px solid $border-color;

      .form-group {
        padding: 0 30px 1rem;
        border-bottom: 1px solid $border-color;
      }

      .title {
        color: $main-text-color;
        font-size: 20px;
        padding: 0 30px;
      }

      .custom-btn-wrapper {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        .custom-btn {
          width: 150px;
          height: 50px;
        }
      }
    }

    .main-menu {
      height: 100%;
      border-right: 1px solid $border-color;
      display: flex;
      flex-direction: column;
      position: fixed;
      z-index: 99;
      background: #f8f8f8;
      box-shadow: 6px 0 5px -2px #e8e8e8 !important;

      &.menu-open {
        min-width: 240px;
        width: 240px;
      }

      &.menu-close {
        min-width: 70px;
        width: 70px;

        .back {
          justify-content: center;
        }

        .menu-bottom {
          ul {
            li {
              padding: 10px;

              a {
                img {
                  margin-right: 0 !important;
                }
              }
            }
          }
        }
      }

      .back {
        padding: 0 1rem;
        height: 48.5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.25rem;

        svg {
          cursor: pointer;

          &:hover {
            color: $text-danger;
          }
        }
      }

      .btn-logout {
        bottom: 20px;
        position: relative;
        width: 50%;
        margin: 0 auto;
      }

      .menu-logo {
        display: flex;
        justify-content: center;
        align-items: center;

        margin-bottom: 20px;

        img {
          max-width: 90%;
        }
      }

      .menu-head {
        width: 100%;
        height: 240px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;

        .avatar {
          border-radius: 50%;
          overflow: hidden;
          border: 1px solid #efefef;
          width: 70px;
          height: 70px;
          display: flex;
          justify-content: center;
          align-items: center;
          background: #fff;

          img {
            height: 100%;
            width: auto;
          }
        }

        .menu-icon {
          position: absolute;
          left: 30px;
          top: 40%;
          cursor: pointer;
        }

        .name {
          color: $main-text-color;
          font-size: 18px;
          font-weight: 700;
          letter-spacing: -0.15px;
        }

        .title {
          color: $secondary-text-color;
          font-size: 12px;
          font-weight: 500;
        }
      }

      .menu-title {
        height: 50px;
        width: 100%;
        border-bottom: 1px solid $border-color;
        border-top: 1px solid $border-color;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 1rem;

        * {
          margin: 0;
        }
      }

      .menu-bottom {
        padding: 10px 1rem 30px 1rem;
        display: flex;
        flex: 1;

        ul.list {
          li {
            a {
              font-size: 14px;
              font-weight: 600;
              letter-spacing: -0.12px;
              line-height: 42px;
              display: flex;
              align-items: center;

              img {
                margin-right: 8px;
              }
            }
          }
        }

        .btn-new-record {
          color: #ffffff;
          font-size: 14px;
          font-weight: 700;
          letter-spacing: 1px;
          //padding: 10px 20px;
          width: 100%;
          background-color: #dc0d15;
          border-radius: 4px;
          -webkit-box-shadow: 0px 4px 5px 0px rgba(220, 13, 21, 1);
          -moz-box-shadow: 0px 4px 5px 0px rgba(220, 13, 21, 1);
          box-shadow: 0px 4px 5px 0px rgba(220, 13, 21, 1);
          border: none;

          &:hover,
          &:focus {
            outline: none;
            border: none;
          }
        }
      }
    }

    .navbar {
      border-bottom: 1px solid #e8e8e8;
      z-index: 98;

      .user-info {
        font-size: 12px;

        .name {
          font-size: 16px;
        }

        .avatar {
          img {
            max-width: 30px;
            border-radius: 50%;
          }
        }
      }

      .navbar-logout {
        margin-left: 1rem;
        border-left: 1px solid #e8e8e8;
      }
    }

    .content {
      flex-grow: 1;
      float: left;
      width: 100%;
      padding-left: 70px;
      padding-top: 50px;

      .standart-page {
        padding: 40px 60px;
        float: left;
        width: 100%;

        h3.title {
          text-align: center;
          margin-bottom: 1rem;
        }
      }

      .dashboard {
        display: flex;
        height: 100%;

        .dashboard-logo {
          max-width: 40%;
        }

        .left {
          padding: 40px 30px 0;
          flex-grow: 1;

          .dense-list {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
              &:not(:last-child) {
                margin-bottom: 15px;
              }

              color: $main-text-color;
              font-size: 14px;
              font-weight: 700;
              letter-spacing: 0.3px;
              line-height: 20px;

              span {
                font-size: 12px;
                font-weight: 700;
                letter-spacing: 0.3px;
                line-height: 16px;
                color: $secondary-text-color;
              }
            }
          }

          .my-tasks {
            margin-top: 20px;

            label.title {
              color: $main-text-color;
              font-size: 16px;
            }


            .see-all {
              a {
                font-size: 13px;
                font-weight: 500;
                letter-spacing: -0.11px;
                text-decoration: underline;
              }
            }
          }
        }

        .activity-history {
          position: relative;
          width: 330px;
          display: flex;
          flex-direction: column;
          padding: 40px 0 20px;
          background-color: #fff;
          border-left: 1px solid $border-color;

          .title {
            padding: 0 30px;
            color: $main-text-color;
            font-size: 16px;
          }

          .list {
            .list-item {
              padding: 20px 40px;
              border-bottom: 1px solid $border-color;

              img {
                width: 36px;
                height: 36px;
              }

              label {
                font-size: 15px;
                font-weight: 500;
                line-height: 16px;
                margin-bottom: 0;
              }

              span.date {
                color: $text-alt-gray;
                font-size: 13px;
                font-weight: 600;
              }
            }
          }

          a.see-all {
            position: absolute;
            bottom: 20px;
            left: 40px;
            font-size: 13px;
            font-weight: 600;
            letter-spacing: -0.11px;
            color: $text-danger;
          }
        }
      }

      .pools {
        .btn-container {
          .btn {
            min-width: 35px;
            margin-left: 5px;
          }
        }

        .redirect-toastr {
          display: flex;
          justify-content: center;
          align-items: center;
          max-width: 350px;
          font-size: 14px;
          color: $main-text-color;

          .body {
            padding: 10px 15px 10px 20px;
            border-right: 1px solid $border-color;

            img {
              max-width: 30px;
            }
          }

          .buttons {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 0;

            a {
              display: flex;
              text-align: center;
              justify-content: center;
              align-items: center;
              flex: 1;
              padding: 0 10px;

              &:not(:last-child) {
                border-bottom: 1px solid $border-color;
              }
            }

          }
        }

        .tr-detail-container {
          .go-back {
            margin: 20px 0;

            a {
              font-size: 13px;
              font-weight: 500;
              letter-spacing: -0.11px;
              text-decoration: underline;
            }
          }

          .tr-detail-inner-container {
            display: flex;

            .card-component {
              .header {
                label.title {
                  font-size: 16px;
                  font-weight: 700;
                  line-height: 22px;
                }

                .badge {
                  width: 50px;
                  height: 24px;
                  border-radius: 3px;
                  background-color: #d9a763;
                  color: #ffffff;
                  font-size: 12px;
                  font-weight: 700;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }
              }

              .files {
                margin-top: 30px;

                .file {
                  padding: 15px 30px;
                  border-radius: 5px;
                  border: 1px solid #efeff1;

                  img.icon {
                    max-width: 18px;
                    margin-right: 10px;
                  }

                  [class*=fa-] {
                    cursor: pointer;
                    font-size: 18px;

                    &:first-child {
                      margin-right: 15px;
                    }
                  }
                }
              }
            }

            .button-container {
              display: flex;
              flex-direction: column;
              min-width: 200px;
              padding: 30px 15px 0;

              .btn {
                border-radius: 3px;
                border: 1px solid #dce1ea;
                background-color: #f8f8f8;
                color: $secondary-text-color;
                font-size: 15px;
                font-weight: 500;
                height: 50px;
                margin-bottom: 5px;
              }
            }
          }
        }

        .response-area {
          display: flex;
          flex-direction: column;
          justify-content: center;
          flex: 1;
          margin-left: 20px;

          .btn {
            border-radius: 3px;
            border: 1px solid #dce1ea;
            background-color: #f8f8f8;
            color: #949bad;
            font-size: 15px;
            font-weight: 500;
            margin-left: 10px;
          }

          ul.tab {
            li {
              display: inline-block;
              padding: 5px 10px;
              border-radius: 4px;
              cursor: pointer;
              color: $secondary-text-color;

              &.active {
                background: $bg-gold;
                color: #fff;
              }
            }

          }

          ul.answers {
            li {
              color: $secondary-text-color;
              font-size: 14px;

              ul {
                margin-left: 10px;

                li {
                  color: $main-text-color;
                }
              }
            }
          }
        }
      }

      .activity {
      }

      .tasks {
        .task-tab {

          li {
            &:not(:first-child) {
              margin-left: 20px;
            }

            display: inline-block;

            cursor: pointer;
            font-size: 15px;
            font-weight: 600;
            letter-spacing: -0.09px;
            color: $main-text-color;

            &.active {
              color: $secondary-text-color;
            }
          }
        }

        .btn-container {
          .btn {
            min-width: 35px;
            margin-left: 5px;
          }
        }

        .response-area {
          display: flex;
          flex-direction: column;
          justify-content: center;
          flex: 1;
          margin-left: 20px;

          .btn {
            border-radius: 3px;
            border: 1px solid #dce1ea;
            background-color: #f8f8f8;
            color: #949bad;
            font-size: 15px;
            font-weight: 500;
            margin-left: 10px;
          }

          ul.tab {
            li {
              display: inline-block;
              padding: 5px 10px;
              border-radius: 4px;
              cursor: pointer;
              color: $secondary-text-color;

              &.active {
                background: $bg-gold;
                color: #fff;
              }
            }

          }

          ul.answers {
            li {
              color: $secondary-text-color;
              font-size: 14px;

              ul {
                margin-left: 10px;

                li {
                  color: $main-text-color;
                }
              }
            }
          }
        }

        .task-detail-container {
          .go-back {
            margin: 20px 0;

            a {
              font-size: 13px;
              font-weight: 500;
              letter-spacing: -0.11px;
              text-decoration: underline;
            }
          }

          .task-detail-inner-container {
            display: flex;

            .card-component {
              .header {
                label.title {
                  font-size: 16px;
                  font-weight: 700;
                  line-height: 22px;
                }

                .badge {
                  width: 50px;
                  height: 24px;
                  border-radius: 3px;
                  background-color: #d9a763;
                  color: #ffffff;
                  font-size: 12px;
                  font-weight: 700;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }
              }

              .files {
                margin-top: 30px;

                .file {
                  padding: 15px 30px;
                  border-radius: 5px;
                  border: 1px solid #efeff1;

                  img.icon {
                    max-width: 18px;
                    margin-right: 10px;
                  }

                  [class*=fa-] {
                    cursor: pointer;
                    font-size: 18px;

                    &:first-child {
                      margin-right: 15px;
                    }
                  }
                }
              }
            }

            .button-container {
              display: flex;
              flex-direction: column;
              width: 150px;
              padding: 30px 15px 0;

              .btn {
                border-radius: 3px;
                border: 1px solid #dce1ea;
                background-color: #f8f8f8;
                color: $secondary-text-color;
                font-size: 15px;
                font-weight: 500;
                height: 50px;
                margin-bottom: 5px;
              }
            }
          }
        }
      }

      .library {
        .library-list {
          li {
            cursor: pointer;
            display: inline-flex;
            flex-direction: column;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: -0.12px;
            color: $main-text-color;
            align-items: center;
            justify-content: center;

            &:not(:last-child) {
              margin-right: 30px;
            }

            img {
              max-width: 60px;
              display: block;
            }

            label {
              display: block;
              margin-top: 15px;
            }
          }
        }
      }

      .settings {
      }

      .new-application {
        .new-application-container {
          display: flex;

          .card-component {
            -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);

            .body {
              .inform-me {
                border-radius: 3px;
                border: 1px solid #eeeef5;
                background-color: #ffffff;
                padding: 10px;
                font-size: 13px;
                font-weight: 500;
                color: $text-alt-gray;
              }

              .file-attachment-container {
                width: 40px;
                height: 40px;
                border-radius: 3px;
                border: 1px solid #eeeef5;
                background-color: #ffffff;
                display: flex;
                align-items: center;
                justify-content: center;

                .fa-paperclip {
                  cursor: pointer;
                  color: #a7a9a9;
                }
              }
            }
          }

          .button-container {
            display: flex;
            flex-direction: column;
            width: 150px;
            padding: 100px 15px 0;

            .btn-send {
              color: $main-text-color;
              font-size: 15px;
              font-weight: 400;
              letter-spacing: -0.09px;
              box-shadow: 20px 10px 40px rgba(0, 0, 0, 0.1);
              border-radius: 3px;
              background-color: #ffffff;
              height: 50px;
              margin-bottom: 10px;
            }

            .btn-cancel {
              border-radius: 3px;
              border: 1px solid #dce1ea;
              background-color: #f8f8f8;
              color: $secondary-text-color;
              font-size: 15px;
              font-weight: 500;
              height: 50px;
            }
          }
        }
      }
    }

    #login-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      background: url("../img/login-bg.png") no-repeat center center;
      background-size: cover;

      .safrantek {
        position: fixed;
        bottom: 30px;
      }

      .hitit-logo {
        max-width: 200px;
      }

      .card-signin {
        border: 0;
        border-radius: .5rem;
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
        background: #e6e7e8;
        border: 1px solid #c6c7c9;
        min-height: 250px;
      }

      .card-signin .card-title {
        margin-bottom: 2rem;
        font-weight: 300;
        font-size: 1.5rem;
      }

      .card-signin .card-body {
        padding: 2rem;
      }

      .form-signin {
        width: 100%;

        .form-label-group {
          width: 100%;
          position: relative;
          margin-bottom: 1rem;

          input {
            height: auto;
            border-radius: 4px;
            background: #f7f7f7;
            border: 1px solid #c6c7c9;
          }

          & > input,
          & > label {
            color: #808285 !important;
            padding: var(--input-padding-y) var(--input-padding-x);
          }

          & > label {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            margin-bottom: 0;
            /* Override default `<label>` margin */
            line-height: 1.5;
            color: #808285 !important;
            border: 1px solid transparent;
            border-radius: .25rem;
            transition: all .1s ease-in-out;
          }

          input::-webkit-input-placeholder {
            color: transparent;
          }

          input:-ms-input-placeholder {
            color: transparent;
          }

          input::-ms-input-placeholder {
            color: transparent;
          }

          input::-moz-placeholder {
            color: transparent;
          }

          input::placeholder {
            color: transparent;
          }

          input:not(:placeholder-shown) {
            padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
            padding-bottom: calc(var(--input-padding-y) / 3);
          }

          input:not(:placeholder-shown) ~ label {
            padding-top: calc(var(--input-padding-y) / 3);
            padding-bottom: calc(var(--input-padding-y) / 3);
            font-size: 12px;
            color: #777;
          }
        }
      }

      .form-sms {
        color: #808285 !important;

        #wrapper {
          #container {
            .item {
              & > div {
                font-size: 30px !important;
                text-align: center;
              }
            }
          }
        }

        .input-group {
          input {
            border: 1px solid #c6c7c9;
            color: #808285 !important;
            font-size: 25px;
            text-align: center;

            &:not(:last-child) {
              margin-right: 10px;
            }
          }
        }
      }

      .btn {
        font-size: 80%;
        border-radius: 5px;
        letter-spacing: .1rem;
        font-weight: bold;
        transition: all 0.2s;
      }

      @supports (-ms-ime-align: auto) {
        .form-label-group > label {
          display: none;
        }
        .form-label-group input::-ms-input-placeholder {
          color: #777;
        }
      }

      @media all and (-ms-high-contrast: none),
      (-ms-high-contrast: active) {
        .form-label-group > label {
          display: none;
        }
        .form-label-group input:-ms-input-placeholder {
          color: #777;
        }
      }
    }

    .vue-js-switch {
      &.toggled {
        .v-switch-core {
          .v-switch-button {
            &::after {
              content: '✔';
              color: #1c7430;
            }
          }
        }
      }

      .v-switch-core {
        border-radius: 3px !important;

        .v-switch-button {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 0;

          &::after {
            content: '✖';
            color: #f83737;
            font-size: 12px;
          }
        }
      }
    }

    .btn-outline-secondary {
      color: #6d6e71;
      border-color: #88898b;

      &:disabled {
        cursor: not-allowed;
      }

      &:not(:disabled):hover {
        color: #fff;
      }
    }

    .btn-parameter {
      &:hover {
        color: #fff;
        background-color: #28a745;
        border-color: #28a745;
      }
    }

    .btn-danger {
      background: #db0c14;
      //padding-left: 40px;
      //padding-right: 40px;
    }

    .btn-close-accordion {
      color: #6c6c6c;
      background-color: #cccccc;
      border-color: #cccccc;
      font-weight: bold;
    }

    .btn-open-accordion {
      color: #6c6c6c;
      background-color: #dddddd;
      border-color: #dddddd;
      font-weight: bold;
    }

    .new-employee-container {
      .user-avatar {
        //background: #eeefef;
        border-radius: 50%;
        border: 1px solid #cbccce;
        width: 130px;
        height: 130px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        cursor: pointer;
        position: relative;

        img {
          width: auto;
          height: 100%;
        }

        .remove-photo {
          z-index: 1;
          position: absolute;
          right: 20px;
          top: 20px;
        }
      }

      .main-card {
        overflow: hidden;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
        border: none;
      }

      [role=tablist]:not(.custom) {
        min-width: 125px;
        background: #fff;
        padding: 20px;
        -webkit-box-shadow: 6px 0px 5px 0px rgba(0, 0, 0, 0.36);
        -moz-box-shadow: 6px 0px 5px 0px rgba(0, 0, 0, 0.36);
        box-shadow: 6px 0px 5px 0px rgba(0, 0, 0, 0.36);

        li {
          a {
            margin: 0;
          }

          &:not(:last-child) {
            margin-bottom: 30px;
          }
        }

        [role=tab] {
          background: #f0f1f1;
          opacity: .5;
          color: #808285;
          font-size: 16px;
          line-height: 18px;
          padding: 10px;
          border: 1px solid #d3d4d5;
          border-radius: 4px;

          img {
            max-width: 30px;
          }
        }

        [role=tab].active {
          background: #f0f1f1;
          color: #808285;
          opacity: 1;
        }
      }
    }

  }

  .list-group.left {
    a {
      &:hover {
        background: #28a745;
        color: #fff !important;
      }
    }
  }

  .list-group.right:not(.custom) {
    a {
      &:hover {
        background: #db0c14;
        color: #fff !important;
      }
    }
  }

  .list-group.right.custom {
    a {
      background: none !important;
      color: #1e1e1e !important;

      ul {
        li {
          margin-bottom: 5px;
          background: #f9f9f9;
          padding: 10px;
          border-radius: 4px;

          ul {
            margin-top: 10px !important;

            li {
              position: relative;
              display: block;
              padding: 0.75rem 1.25rem;
              background-color: #737373;
              color: #fff;
              border-radius: 4px;
              margin-bottom: 2px;

              &:hover {
                background: #db0c14;
                color: #fff !important;
              }
            }
          }
        }
      }
    }
  }

  .label_switch {
    display: inline-block;
    margin: 0;
    cursor: pointer;
    font-weight: normal;
    position: relative;
  }

  .label_switch input[type="checkbox"] {
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
    cursor: pointer;
  }

  .label_switch input[type="checkbox"] + span {
    display: inline-block;
    width: 58px;
    height: 30px;
    position: relative;
  }

  .label_switch input[type="checkbox"] + span:before {
    content: "";
    display: block;
    width: 58px;
    height: 33.5px;
    border-radius: 20px;
    border: 1px solid #dfdfdf;
    -webkit-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
  }

  .label_switch:hover input[type="checkbox"] + span:before {
    box-shadow: inset 0 0 15px #eee;
  }

  .label_switch input[type="checkbox"] + span:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    display: block;
    width: 33.5px;
    height: 33.5px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background: #fff;
    border-radius: 20px;
    border: solid 1px #dfdfdf;
    box-shadow: 2px 1px 1px -2px rgba(0, 0, 0, 0.4)
  }

  .label_switch input[type="checkbox"]:checked + span:after {
    left: 24px;
    border: solid 1px #5FBEAA;
    box-shadow: none;
  }

  .label_switch input[type="checkbox"]:checked + span:before,
  .label_switch input[type="checkbox"]:disabled:checked + span:before {
    border: 1px solid #5FBEAA;
    background-color: #5FBEAA;
  }

  .label_switch:hover input[type="checkbox"]:checked + span:before {
    box-shadow: none;
  }

  .label_switch input[type="checkbox"]:disabled + span {
    opacity: 0.6;
  }

  .label_switch input[type="checkbox"]:disabled + span:before {
    background-color: #f7f7f7;
  }

  .label_switch input[type="checkbox"]:disabled + span:after {
    background-color: #f3f3f3;
  }

  .label_switch input[type="checkbox"]:disabled + span:after {
    background-color: #fff;
  }

  .label_switch input[type="checkbox"]:disabled + span:before,
  .label_switch input[type="checkbox"]:disabled + span:after {
    cursor: no-drop;
  }

  .label_switch input[type="checkbox"]:disabled:checked + span:before {
  }

  .m-r-5 {
    margin-right: 5px !important;
  }

  .m-l-5 {
    margin-left: 5px !important;
  }

  .disabled {
    cursor: no-drop !important;
  }

  .h-21-px {
    height: 21px;
  }

  select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    background: url('../img/icons/select-arrow.png');
    background-repeat: no-repeat;
    background-size: 10px 7px;
    background-position: right 5px center;
    padding-right: 20px !important;
  }

  .accordion > .card:not(:last-of-type), .accordion > .card:not(:first-of-type) {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    margin-bottom: .5rem;
  }

  .mx-datepicker {
    width: 100%;
  }

  .mx-input-wrapper {
    .form-control.is-invalid {
      background: none;
    }
  }

  .is-invalid + .mx-icon-calendar {
    color: #dc3545;
  }

  .mx-icon-calendar, .mx-icon-clear {
    color: rgb(0 0 0);
  }

  .modal-content {
    header {
      background: #f5f6f9;
      color: #6d6e71;
    }

    .vue-js-switch {
      &.toggled {
        .v-switch-core {
          .v-switch-button {
            &::after {
              content: '✔';
              color: #1c7430;
            }
          }
        }
      }

      .v-switch-core {
        border-radius: 3px !important;

        .v-switch-button {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 0;

          &::after {
            content: '✖';
            color: #f83737;
            font-size: 12px;
          }
        }
      }
    }

    .datepicker {
      position: relative;
      display: block;

      .form-control {
        padding-right: 25px;
      }

      &:not(.is-invalid) {
        &::after {
          position: absolute;
          right: 8px;
          top: 8.5px;
          display: block;
          content: "";
          width: 16px;
          height: 15px;
          background: transparent url('../img/icons/datepicker.png') no-repeat;
        }
      }
    }

    .form-group {
      label {
        font-weight: 600;
      }
    }

    .form-control {
      border-radius: 3px;
      border: 1px solid #eeeef5;
      background-color: #ffffff;
      color: $text-alt-new;
      position: relative;

      &.is-invalid {
        border-color: #dc3545;
      }

      &[disabled] {
        background: #f0f1f1;
        color: #333;
      }
    }

    .modal-footer {
      justify-content: center;

      button {
        min-width: 150px;
      }
    }
  }

  .daterangepicker {
    top: auto;
  }

  .pagination {
    li {
      &:first-child {
        a {
          margin-left: 0;
          border-top-left-radius: 0.25rem;
          border-bottom-left-radius: 0.25rem;
        }
      }

      &:last-child {
        a {
          border-top-right-radius: 0.25rem;
          border-bottom-right-radius: 0.25rem;
        }
      }

      &.disabled {
        a {
          color: #6c757d;
          pointer-events: none;
          cursor: auto;
          background-color: #fff;
          border-color: #dee2e6;
        }
      }

      &.active {
        a {
          color: #fff !important;
          background-color: #4a8bce;

          &:hover {
            color: #fff !important;
          }
        }
      }

      a {
        position: relative;
        display: block;
        padding: 0.5rem 0.75rem;
        margin-left: -1px;
        line-height: 1.25;
        color: $secondary-text-color;
        background-color: #fff;
        border: 1px solid #dee2e6;

        &:hover {
          color: $secondary-text-color !important;
        }
      }
    }
  }

  .multiselect {
    &.is-invalid {
      .multiselect__tags {
        border-color: #dc3545;
      }
    }
  }
}

.custom {
  .card-header {
    padding: 0.75rem 1.25rem 0;
  }
}

.dz-remove {
  left: 0;
  right: 0;
  top: 0 !important;
  bottom: 0 !important;
  border: none !important;
}

.otp-input-container > div:not(:last-child) {
  margin-right: .5rem;
}

.dz-error-message {
  span {
    white-space: nowrap;
  }
}

.call-id {
  font-size: 16px;
  color: $secondary-text-color;
  border: 1px solid $border-color;
  padding: 10px;
}